* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: whitesmoke;
}

.fondoverde {
	background-color: #1f3615;
}
.fondoverdeclaro {
	background-color: #558a3f;
}

.logotipo {
	width: 150px;
}

.textoverde {
	color: #1f3615;
}
.textoverdehover {
	color: #1f3615;
}
.textoverdehover:hover {
	color: white;
}

.separador {
	height: 4rem;
}

footer {
	position: fixed;
	bottom: 0px;
	z-index: 3;
}

#contenedor-productos { 
	display: flex;
	flex-flow: row wrap;
	margin-left: -8px;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
}
  
.card {
	flex: auto;
	height: fit-content;
	max-width: 400px;
	min-width: 200px;
	margin: 0 8px 8px 0;
}

.filtrar {
	visibility: hidden;
	opacity: 0;
	display: none;
}

.barrabusqueda {
	position: fixed;
	top: 64px;
	z-index: 2;
	padding-top: 5px;
	padding-bottom: 5px;
}
.filtros {
	position: fixed;
	top: 110px;
	z-index: 5;
}

.navbar {
	z-index: 3;
}

.invisible {
	display: none;
}
.nav-link {
	font-size: 1.3rem;
}

/*GRADIENTE ANIMADO TEXTO*/

.gradienteverde {
	color: #4fe056;
	background: linear-gradient(
		to right,
		#2daf0d 20%,
		#1f3615 40%,
		#04b313 60%,
		#0eac0e 80%
	);
	font-size: 1.6rem;
	background-size: 200% auto;
	text-decoration: bold;
	color: #000;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 2s linear infinite;
}
@keyframes shine {
	to {
		background-position: 200% center;
	}
}

.bd-placeholder-img {
	font-size: 3rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
